.geral{
  background-color: rgb(212, 31, 31);
  margin: auto;
}
.font-geral{
  text-align: center;
  font-size: 60px;
  margin: auto;
  color: cornsilk;
}
.fundo-api{
  background-color:rgb(224, 178, 170);
  margin: left;
}
.titulo{
  font-family: Verdana, Geneva, Tahoma, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  text-align: center;
  color: rgb(197, 5, 5);
}
.conteudo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  text-align: center;
  color: darkred;
}
.imagens{
  text-align: center;
}
.img{
  width: 500px;
  height: 300px;

}
.gif{
  width: 500px;
  height: 300px;
}
.ano{
  text-align: center;
  font-size: 20px;
  color: rgb(218, 10, 10);
  font-family: cursive;
}
.caixaNome{

  content:' ';
  display:block;
  border:1px solid #272424;
  box-shadow:1px 2px 3px #666;
  
}